{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container-fluid h-100 mx-auto p-4">
        <form>
            <div class="form-group row">
                <label for="recordTitle" class="col-sm-2 col-form-label">
                    Title
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="recordTitle" placeholder="Enter Title">
                </div>
            </div>
            <div class="form-group row">
                <label for="recordProvider" class="col-sm-2 col-form-label">
                    Course Provider
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="recordProvider" placeholder="Enter Provider">
                </div>
            </div>
            <div class="form-group row">
                <label for="recordActivity" class="col-sm-2 col-form-label">
                    Activity
                </label>
                <div class="col-sm-10">
                    <select id="recordActivity" class="form-control">
                        <option selected>Select an Activity</option>
                        {% for activity in trg_activity %}
                            <option>{{ activity.activity }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="recordStartDate" class="col-sm-2 col-form-label">
                    Start Date
                </label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="recordStartDate" value="{{ date_today }}">
                </div>
                <label for="recordFinishDate" class="col-sm-2 col-form-label">
                    Finish Date
                </label>
                <div class="col-sm-4">
                    <input type="date" class="form-control" id="recordFinishDate" value="{{ date_today }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="recordDivision" class="col-sm-2 col-form-label">
                    Activity
                </label>
                <div class="col-sm-10">
                    <select id="recordDivision" class="form-control">
                        <option selected>Select an EA Division</option>
                        {% for division in trg_division %}
                            <option>{{ division.division }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="recordLocation" class="col-sm-2 col-form-label">
                    Course Provider
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="recordLocation" placeholder="Enter Location">
                </div>
            </div>
            <div class="form-group row">
                <label for="recordType" class="col-sm-2 col-form-label">
                    Activity
                </label>
                <div class="col-sm-10">
                    <select id="recordType" class="form-control">
                        <option selected>Select Training Type</option>
                        {% for type in trg_type %}
                            <option>{{ type.type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="recordTimeRisk" class="col-sm-2 col-form-label">
                    Risk Management
                </label>
                <div class="col-sm-2">
                    <input type="time" class="form-control" id="recordTimeRisk">
                </div>
                <label for="recordTimeMgmt" class="col-sm-2 col-form-label">
                    Business Management
                </label>
                <div class="col-sm-2">
                    <input type="time" class="form-control" id="recordTimeMgmt">
                </div>
                <label for="recordTimeAop" class="col-sm-2 col-form-label">
                    Area of Practice
                </label>
                <div class="col-sm-2">
                    <input type="time" class="form-control" id="recordTimeAop">
                </div>
            </div>
            <div class="form-group row">
                <label for="recordDescription" class="col-sm-2 col-form-label">
                    Activity
                </label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="recordDescription" placeholder="Enter Description of the Training" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="recordNotes" class="col-sm-2 col-form-label">
                    Activity
                </label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="recordNotes" placeholder="Enter any personal notes" rows="3"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
