{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container-fluid h-100 mx-auto p-4">
        <div>
            Create a <a href="/record-add">New Training Record</a>
        </div>
        <div>
            {% if not records %}
                <p> Hmmm... no records found. Looks like you need some training young padawan. </p>
            {% else %}
                {% for record in records %}
                    <div class="card" style="width: 80%">
                        <div class="card-header">
                            {{ record.title }}
                        </div>
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">
                                Organisation |
                                Activity |
                                EA Division |
                                Training Type
                            </h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <u>Start Date:</u> {{ record.date_start }} |
                                    <u>Finish Date:</u> {{ record.date_finish }} |
                                    <u>Duration:</u> {{ record.duration }}
                                </li>
                                <li class="list-group-item">
                                    <u>Risk:</u> {{ record.duration_risk }} |
                                    <u>Business:</u> {{ record.duration_business }} |
                                    <u>Related Practice:</u> {{ record.duration_practice }}
                                </li>
                                <li class="list-group-item">
                                    <h6 class="mb-2 text-muted"> Description </h6>
                                    <p class="card-text">{{ record.description }}</p>
                                </li>
                                <li class="list-group-item">
                                    <h6 class="mb-2 text-muted"> Notes </h6>
                                    <p class="card-text">users notes</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
